<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Add Shoes Data</title>
</head>
<body>
  <form action="/addShoes" method="POST">

    <!--ID (Nine Digit Unique Number): <input type="number", name="id"><br/><br/>       -->
    <!-- ID -->
    <!-- ID (Nine Digit Unique Number):  -->
    <!-- <lable for = "fid">ID</lable> -->
    <!-- <input type="number" maxlength="9" minlength="9" name="id" id="fid" required  -->
           <!-- pattern="\d{9}" title="ID must be a nine-digit number."><br/><br/> -->
    <label for="fid">ID (Nine Digit Unique Number):</label>
    <input type="text" name="id" id="fid" required 
    pattern="^\d{9}$" title="ID must be a nine-digit number." 
    oninput="this.value = this.value.replace(/[^0-9]/g, '');" 
    maxlength="9" minlength="9"><br/><br/>

    <!-- Name:  -->
    <!-- <lable for = "fname">ID</lable>
    <input type="text", name="name" id="fname" required ><br/><br/> -->
    <label for="fname">Name:</label>
    <input type="text" name="name" id="fname" required 
    pattern="[A-Za-z]+" title="Please enter only alphabetic characters."><br/><br/>

    <!-- ColourWayId ():  -->
    <!-- <input type="number", name="colourWayId"><br/><br/> -->
    <label for="fcolourWayId">ColourWayId(Nine Digit Number):</label> 
    <input type="text" name="colourWayId" id="fcolourWayId" required 
    pattern="^\d{9}$" title="ID must be a nine-digit number." 
    oninput="this.value = this.value.replace(/[^0-9]/g, '');" 
    maxlength="9" minlength="9"><br/><br/>

    <!-- BrandName: 
    <input type="text", name="brandName"><br/><br/> -->
    <label for="fbrandName">BrandName:</label>
    <select id="fbrandName" name="brandName">
        <option value="Be Mine">Be Mine</option>
        <option value="ASOS DESIGN">ASOS DESIGN</option>
        <option value="Public Desire">Public Desire</option>
        <option value="Crocs">Crocs</option>
        <option value="Dr Martens">Dr Martens</option>
        <option value="Raid">Raid</option>
        <option value="Stradivarius">Stradivarius</option>
        <option value="SIMMI Shoes">SIMMI Shoes</option>
        <option value="New Look">New Look</option>
        <option value="Be Mine Wide Fit">Be Mine Wide Fit</option>
        <option value="Simmi Wide Fit">Simmi Wide Fit</option>
        <option value="Clarks Originals">Clarks Originals</option>
        <option value="Glamorous Wide Fit">Glamorous Wide Fit</option>
        <option value="Timberland">Timberland</option>
        <option value="Glamorous">Glamorous</option>
        <option value="SEQWL Wide Fit">SEQWL Wide Fit</option>
        <option value="Public Desire Wide Fit">Public Desire Wide Fit</option>
        <option value="Koi Footwear">Koi Footwear</option>
        <option value="SEQWL">SEQWL</option>
    </select><br/><br/>


    <!-- ProductCode (Nine Digit Number): -->
    <label for="fproductCode">ProductCode(Nine Digit Number):</label> 
    <input type="text" name="productCode" id="fproductCode" required 
    pattern="^\d{9}$" title="ID must be a nine-digit number." 
    oninput="this.value = this.value.replace(/[^0-9]/g, '');" 
    maxlength="9" minlength="9"><br/><br/>

    <!-- SellingIsFast:
    <input type="checkbox" name="sellingIsFast"><br/><br/> -->
    <label>Selling Is Fast: 
      <input type="radio" id="sellingYes" name="sellingIsFast" value="1" required> Yes
      <input type="radio" id="sellingNo" name="sellingIsFast" value="0"> No
  </label><br/><br/>
   
    CurrentPrice: 
    <input type="number", name="currentPrice" required><br/><br/>

    PreviousPrice: 
    <input type="number", name="previousPrice" required><br/><br/>

    LowestPriceInLast30Days: 
    <input type="number", name="lowestPriceInLast30Days" required><br/><br/>

    <!-- PriceIsMarkedDown: 
    <input type="number", name="priceIsMarkedDown"><br/><br/> -->
    <label>PriceIsMarkedDown: 
      <input type="radio" id="priceIsMarkedDownYes" name="priceIsMarkedDown" value="1" required> Yes
      <input type="radio" id="priceIsMarkedDownNo" name="priceIsMarkedDown" value="0"> No
  </label><br/><br/>

    <!-- Currency: <input type="number", name="currency"><br/><br/> -->
    <label>Currency: 
      <input type="radio" id="currencyEURO" name="currency" value="EURO" required> EUR
      <input type="radio" id="currencyGBP" name="currency" value="GBP"> GBP
  </label><br/><br/>
    
    <!-- Price_range_indicator: <input type="text", name="price_range_indicator"><br/><br/> -->

    <label for="fprice_range_indicator">Price_range_indicator:</label>
    <select id="fprice_range_indicator" name="price_range_indicator">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
        <option value="Very High">Very High</option>
    </select><br/><br/>

    <!-- Discount_percentage: <input type="number", name="discount_percentage"><br/><br/> -->
    Discount_percentage: 
    <input type="number", name="discount_percentage" required><br/><br/>

    <!-- Lowest_price_tag: <input type="text", name="lowest_price_tag"><br/><br/> -->
    <label>Lowest_price_tag: 
      <input type="radio" id="lowest_price_tagYes" name="lowest_price_tag" value="1" required> Yes
      <input type="radio" id="lowest_price_tagNo" name="lowest_price_tag" value="0"> No
  </label><br/><br/>

    <button type="submit" name="submit">Add Shoe</button>
  </form>    
</body>
</html>
