<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Add Shoes Data</title>
</head>
<body>
  <form action="/addShoes" method="POST">

    <!--primaryCategoryID-->
    <label for="fname">primaryCategoryID:</label>
    <input type="text" name="primaryCategoryID" id="fprimaryCategoryID" required
    pattern="[A-Za-z]+" title="Please enter only alphabetic characters."><br/><br/>

    <!-- ParentPLU (Nine Digit Number): -->
    <label for="ParentPLU">ProductCode(Nine Digit Number):</label>
    <input type="text" name="ParentPLU" id="fParentPLU" required
    pattern="^\d{9}$" title="ParentPLU must be a nine-digit number."
    oninput="this.value = this.value.replace(/[^0-9]/g, '');"
    maxlength="9" minlength="9"><br/><br/>

    <!-- brandName:-->
    <label for="brandName">Enter your brand name:</label>
    <input type="text" name="brandName" id="fbrandName" required 
    pattern="[A-Za-z]+" title="Please enter only alphabetic characters."><br/><br/>

    <!--originalPrice:-->
    <label for="originalPrice">Enter Original Price:</label>
    <input type="number" name="originalPrice" id="foriginalPrice" required ><br/><br/>

    <!--variationalCount-->
    <label for="variationalCount">Enter Variational Count:</label>
    <input type="number" id="fvariationalCount" name="variationalCount" ><br/><br/>

    <!--productID:-->
    <label for="fid">productID (Ten Digit Unique Number):</label>
    <input type="text" name="productID" id="fproductID" required 
    pattern="^\d{10}$" title="productID must be a ten-digit number." 
    oninput="this.value = this.value.replace(/[^0-10]/g, '');" 
    maxlength="10" minlength="10"><br/><br/>

    <!--productName:-->
    <label for="fname">productName:</label>
    <input type="text" name="productName" id="fproductName" required 
    pattern="[A-Za-z]+" title="Please enter only alphabetic characters."><br/><br/>

    <!--salelPrice:-->
    <label for="salelPrice">Enter sale Price:</label>
    <input type="number" id="fsalePrice" name="salelPrice" ><br/><br/>

    <!--discountPercentage:-->
    <label for="discountPercentage">Enter Discount Percentage:</label>
    <input type="number" id="fdiscountPercentage" name="discountPercentage" required><br/><br/>


    <!--mostPopularityBrand:-->
    <label for="mostPopularityBrand">Enter Most Popular Brand:</label>
    <input type="number" id="mostPopularityBrand" name="mostPopularityBrand"><br/><br/>

    <button type="submit" name="submit">Add Shoe</button>
  </form>    
</body>
</html>
